amqplib==1.0.2
anyjson==0.3.3
apache-libcloud==0.11.1
boto==2.8.0
dashi==0.2.7
distribute==0.6.27
gevent==0.13.8
greenlet==0.4.0
httplib2==0.7.7
kazoo==0.9
kombu==2.4.10
mock==1.0.1
PyYAML==3.10
zope.interface==4.0.4
